@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(9, 48, 9);
  background: linear-gradient(
    90deg,
    rgba(9, 48, 9, 1) 0%,
    rgba(13, 62, 16, 1) 20%,
    rgba(31, 96, 50, 1) 40%,
    rgba(41, 119, 62, 1) 60%,
    rgba(54, 148, 87, 1) 80%,
    rgba(3, 34, 2, 1) 100%
  );
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
